name: Lines of Code

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  loc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rjwalters/ghloc@main
